* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input {
  height: 70px;
  width: 100px;
}

.button {
  padding: 10px 20px;
  background-color: #000;
  border: 5px solid #000;
  font-size: 2rem;
  font-weight: 900;
  color: #eee;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button:hover {
  background-color: #eee;
  color: #000;
}